
<ion-card class="sendertravelrdata-card">
  <ion-card-content >
    <div>
      <ion-radio slot="start" *ngIf="radioselecbtns" [value]="itemsData"></ion-radio>
      <ion-col  *ngIf="deleteselecbtns" class="ion-text-end"  style="right: 0;position: absolute;" >
        <ion-icon class="ion-icons-bottom ion-text-end" name="trash" (click)="deletemyitem(itemsData)"></ion-icon>
      </ion-col>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p>{{itemsData.fromcity}}</p>
            <p>
              <ion-icon name="arrow-down-outline" style="margin-left: 26px;"></ion-icon>
            </p>
            <p>{{itemsData.tocity}}</p>
          </ion-col>
          <ion-col style="text-align: right;"  col-6>
            <div>
              <p><strong> Date </strong></p>
              <p>{{itemsData.dateoftravel}} </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>From address</strong></p>
            <p>
              <ion-icon name="person-outline"></ion-icon>&nbsp;<span>{{itemsData.fromarea}}</span>
            </p>
          
          </ion-col>
         
          <ion-col  style="text-align: right;">
            <p><strong>To address</strong></p>
            <p>
              <ion-icon name="person-outline"></ion-icon>&nbsp;<span>{{itemsData.toarea}}</span>
            </p>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  col-6>
            <p><strong>User Details</strong></p>
            <p>
              <ion-icon name="person-outline"></ion-icon>&nbsp;<span>{{itemsData.email}}</span>
            </p>
            <p>
              <ion-icon name="call" (click)="showAlertpopup(itemsData.mobile)" ></ion-icon>&nbsp;<span (click)="showAlertpopup(itemsData.mobile)">{{itemsData.mobile}}</span>
            </p>
          </ion-col>
          <ion-col style="text-align: right;"  col-6 *ngIf="itemsData.type === 'sender'?true:false">
            <p><strong>Parcel details</strong></p>
            <p><span>itemtype :</span> <span>{{itemsData.itemtype}}</span></p>
            <p><span>Package :</span> <span>{{itemsData.packing}} </span></p>

            <p><span>weight :</span> <span>{{itemsData.weight}} </span></p>
            
            <p><span>Amount :</span> <span>{{itemsData.amount}} </span></p>


          </ion-col>
          <ion-col style="text-align: right;" col-6 *ngIf="itemsData.usertype === 'sender'?true:false">
            <p><strong>Parcel details</strong></p>
            <p><span>itemtype :</span> <span>{{itemsData.itemtype}}</span></p>
            <p><span>Package :</span> <span>{{itemsData.packing}} </span></p>

            <p><span>weight :</span> <span>{{itemsData.weight}} </span></p>
            <p><span>amount :</span> <span>{{itemsData.amount}} </span></p>


          </ion-col>
        </ion-row>
      
      </ion-grid>
    </div>
    <div *ngIf="bottomoptions">
      <ion-grid>
        <ion-row>
          <ion-col class="text-center">
            <ion-icon class="ion-icons-bottom text-center" name="eye-outline" (click)="viewFullPagewithData(itemsData)"></ion-icon>
          </ion-col>
          <ion-col class="text-center ion-text-center">
            <ion-icon class="ion-icons-bottom text-center ion-text-center"   name="trash-outline" (click)="deleteSelectedItem(itemsData.id)"></ion-icon>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-icon class="ion-icons-bottom ion-text-end" name="star-half-outline" (click)="reviewPage(itemsData)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>