<app-sidemenu [pagetitle]="pagetitle"></app-sidemenu>

<ion-content>
  <div *ngIf="divTag">
    <form [formGroup]="senderData" (ngSubmit)="saveSenderDetails()">
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item class="frombck">
        <ion-label>From state</ion-label>
        <ion-select placeholder="Select state" formControlName="fromstateid"
          (ionChange)="dataChange('fromstate',$event)">
          <ion-select-option *ngFor="let state of fromstatesData" [value]="state.id">{{state.statename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item  class="frombck">
        <ion-label>From District</ion-label>
        <ion-select placeholder="Select district" formControlName="fromdist"
          (ionChange)="dataChange('fromdistrict',$event)">
          <ion-select-option *ngFor="let district of fromDistrictData" [value]="district.id">{{district.distname}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  class="frombck">
        <ion-label>From city</ion-label>
        <ion-select placeholder="Select city" formControlName="fromcity">
          <ion-select-option *ngFor="let city of fromcityData" [value]="city.id">{{city.mandalename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  class="frombck">
        <ion-label position="stacked">From address</ion-label>
        <ion-textarea formControlName="fromarea" rows="3" cols="20" placeholder="Enter address"></ion-textarea>
      </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item  class="frombck">
        <ion-label>To state</ion-label>
        <ion-select placeholder="Select state" formControlName="tostate" (ionChange)="dataChange('tostate',$event)">
          <ion-select-option *ngFor="let state of tostatesData" [value]="state.id">{{state.statename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  class="frombck">
        <ion-label>To District</ion-label>
        <ion-select placeholder="Select district" formControlName="todist"
          (ionChange)="dataChange('todistrict',$event)">
          <ion-select-option *ngFor="let district of toDistrictData" [value]="district.id">{{district.distname}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  class="frombck">
        <ion-label>To city</ion-label>
        <ion-select placeholder="Select city" formControlName="tocity">
          <ion-select-option *ngFor="let city of tocityData" [value]="city.id">{{city.mandalename}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  class="frombck">
        <ion-label position="stacked">To address</ion-label>
        <ion-textarea rows="3" cols="20" formControlName="toarea" placeholder="Enter address"></ion-textarea>
      </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item  class="frombck">
        <ion-label>Date of travel</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" formControlName="dateoftravel" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
      <!-- <ion-item class="frombck">
        <ion-label>Time of travel</ion-label>
        <ion-datetime displayFormat="h:mm:a" formControlName="timeoftravel" placeholder="Select Time"></ion-datetime>
      </ion-item> -->
      <ion-item class="frombck">
        <ion-label position="fixed">Item Type</ion-label>
        <ion-input formControlName="itemtype" class="aligintextplacwholder" placeholder="Item type"></ion-input>
      </ion-item>
      <ion-item class="frombck">
        <ion-label position="fixed">Item packing</ion-label>
        <ion-input formControlName="packing" class="aligintextplacwholder" placeholder="Packing type"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="fixed">Item weight</ion-label>
        <ion-input formControlName="weight" placeholder="Weight"></ion-input>
      </ion-item> -->
      <ion-item class="frombck">
        <ion-label>Weight</ion-label>
        <ion-select placeholder="Select Weight" formControlName="weight" #idis (ionChange)="estimateCoast($event,idis.aria-valuenow)">
          <ion-select-option *ngFor="let weight of fromWeightData"  [attr.aria-valuenow]="weight.id" dataextra="weight.id" [value]="weight.weight">{{weight.weight}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="frombck">
        <ion-label>Distance</ion-label>
        <ion-select placeholder="Select Distance" formControlName="distance" (ionChange)="estimateCoast($event)">
          <ion-select-option *ngFor="let distance of fromDistenceData" [value]="distance.distance">{{distance.distance}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item class="frombck">
        <ion-label position="fixed">Cost</ion-label>
        <ion-input  placeholder="Cost" class="aligintextplacwholder" formControlName="amount" [value]="coast" readonly></ion-input>
      </ion-item>
    
      <ion-item class="frombck">
        <ion-label position="fixed">Description</ion-label>
        <ion-input formControlName="description" class="aligintextplacwholder" placeholder="Description"></ion-input>
      </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-checkbox style="margin-bottom: -4px;" (ionChange)="selectMember($event)"></ion-checkbox>&nbsp;
            <span style="color: #143164;">I agree,</span>
            <ion-label style="text-decoration: underline;color: #143164;"  (click)="openModal()" >Terms and Condtitions</ion-label>

          </ion-col>

        
        </ion-row>
      </ion-grid>
      <ion-button type="submit" expand="full" color="primary" class="btnsubmit">Submit</ion-button>
    </form>
  </div>
  <div *ngIf="!divTag">
    <form [formGroup]="travelerData" (ngSubmit)="saveTravelerDetails()">
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item class="frombck">
        <ion-label>From state</ion-label>
        <ion-select placeholder="Select state" formControlName="fromstateid"
          (ionChange)="dataChange('fromstate',$event)">
          <ion-select-option *ngFor="let state of fromstatesData" [value]="state.id">{{state.statename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label>From District</ion-label>
        <ion-select placeholder="Select district" formControlName="fromdist"
          (ionChange)="dataChange('fromdistrict',$event)">
          <ion-select-option *ngFor="let district of fromDistrictData" [value]="district.id">{{district.distname}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label>From city</ion-label>
        <ion-select placeholder="Select city" formControlName="fromcity">
          <ion-select-option *ngFor="let city of fromcityData" [value]="city.id">{{city.mandalename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label position="stacked">From address</ion-label>
        <ion-textarea formControlName="fromarea" rows="3" cols="20" placeholder="Enter address"></ion-textarea>
      </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item class="frombck">
        <ion-label>To state</ion-label>
        <ion-select placeholder="Select state" formControlName="tostate" (ionChange)="dataChange('tostate',$event)">
          <ion-select-option *ngFor="let state of tostatesData" [value]="state.id">{{state.statename}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label>To District</ion-label>
        <ion-select placeholder="Select district" formControlName="todist"
          (ionChange)="dataChange('todistrict',$event)">
          <ion-select-option *ngFor="let district of toDistrictData" [value]="district.id">{{district.distname}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label>To city</ion-label>
        <ion-select placeholder="Select city" formControlName="tocity">
          <ion-select-option *ngFor="let city of tocityData" [value]="city.id">{{city.mandalename}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="frombck">
        <ion-label position="stacked">To address</ion-label>
        <ion-textarea rows="3" cols="20" formControlName="toarea" placeholder="Enter address"></ion-textarea>
      </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #143164;">
        <ion-card-content >
      <ion-item class="frombck">
        <ion-label>Date of travel</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" formControlName="dateoftravel" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
    

        </ion-card-content>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-checkbox style="margin-bottom: -4px;"  (ionChange)="selectMember($event)"></ion-checkbox>&nbsp;

            <span style="color: #143164;">I agree,</span>
            <ion-label style="text-decoration: underline;color: #143164;"  (click)="openModal()" >Terms and Condtitions</ion-label>

          </ion-col>

        
        </ion-row>
      </ion-grid>
     
      <ion-button type="submit" expand="full" color="primary" class="btnsubmit">Submit</ion-button>
    </form>
  </div>
</ion-content>
<app-footer></app-footer>