.frombck{
    // --ion-background-color: #d9d9d9;
    border: 1px solid;
    border-radius: 6px;
    // width: 95%;
    // left: 9px;
    // padding: 2px;
    // margin-bottom: 4px;
    margin-top: 3px;
}

ion-input ::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: right; 
} 
.aligintextplacwholder{
    text-align: right; 
}